.bold {
    font-weight: bold;
}

.home-icon {
    padding: 1rem;
    text-align: center;
    float: right;
}

.temp-f {
    font-size: 28px;
    padding: 1rem;
}

.temp-c {
    font-size: 20px;
    padding: 0.2rem;
}

.info {
    margin: 2%;
}

.condition {
    text-align: center;
    margin: 1rem;
}

.location {
    text-align: center;
    margin-left: 1rem;
    margin: 10%;
}

.location-name {
    padding-top: 1rem;
    font-size: 24px;
    display: inline-block;
}

.location-time {
    font-size: 13px;
    display: inline-block;
}

.info-text {
    padding-bottom: 1rem;
}

.highlight-gray {
    background-color: lightgray; 
}

.highlight-yellow {
    background-color: lightyellow; 
}

.border-top {
    border-top: 1px solid lightgray;
}